.start {
    padding: 20px 0 84px 0;
    background-color: #f8f8f8;
    &__descr {
        margin-top: 30px;
        text-align: center;
        font-size: 23px;
        font-weight: 400;
    }
    .mt50 {
        margin-top: 50px;
    }
    &__head {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
        color: $main-color;
    }
    &__schedule{
        margin: 0 auto;
        margin-top: 20px;
        width: 700px;
        border: 1px solid #000;
        img {
            width: 100%;
        }
    }
    &__signature {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }
}